{% extends 'layout.html' %}
{% block myBlock %}
<br>
{% for e in employeeDetails %}
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-4">
        <h5>ID</h5>
    </div>
    <div class="col sm-4">
        <h5>
            {{e.id}}
        </h5>
    </div>
    <div class="col-sm-2">

    </div>
</div>
<br>
<div class="row">
        <div class="col-sm-2">
    
        </div>
        <div class="col-sm-4">
       <h5> NAME </h5>
        </div>
        <div class="col sm-4">
    <h5>
            {{e.name}}
    </h5>
        </div>
        <div class="col-sm-2">
    
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-2">
        
            </div>
            <div class="col-sm-4">
        <h5> MOBILE </h5>
            </div>
            <div class="col sm-4">
                    <h5>
                            {{e.mobile}}
                    </h5>
            </div>
            <div class="col-sm-2">
        
            </div>
        </div>
        <br>
        <div class="row">
                <div class="col-sm-2">
            
                </div>
                <div class="col-sm-4">
                        <h5>E-MAIL</h5>
                </div>
                <div class="col sm-4">
                        <h5>
                                {{e.mail}}
                        </h5>
                </div>
                <div class="col-sm-2">
            
                </div>
            </div>
            <br>
            <hr>
            {% endfor %}
{% endblock %}